.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  opacity: 1;
  transition: opacity $time-transition $function-bezire;

  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  min-width: 320px;
  width: 100%;
  max-width: 450px;

  height: 609px;

  background-color: $modal-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform $time-transition $function-bezire;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: $primary-bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.modal__slogan {
  margin: 0;
  margin-bottom: 12px;

  font-weight: $font-weight-bold;
  font-size: $font-size-modal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;

  color: $txt-main-color;
}

.modal__form {
  width: 100%;
}

.field-form {
  margin-bottom: 10px;
}

.modal__inputs {
  margin-bottom: 20px;
}

.field-form label {
  margin-bottom: 4px;

  font-weight: $font-weight-normal;
  font-size: $font-size-form;
  line-height: $line-height-secondary;
  letter-spacing: 0.01em;

  color: $txt-second-color;
}

.field-form input {
  margin: 0;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: $accent-color;
  }
}

.form-input {
  position: relative;
}

.icon-modal {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);
}

.field-form input:focus + .icon-modal {
  fill: $accent-color;
}

.comment-form label {
  font-weight: $font-weight-normal;
  font-size: $font-size-form;
  line-height: $line-height-secondary;
  letter-spacing: 0.01em;

  color: $txt-second-color;
}

textarea {
  resize: none;

  width: 100%;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    font-weight: $font-weight-normal;
    font-size: $font-size-form;
    line-height: $line-height-secondary;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-bottom {
  position: absolute;

  text-align: center;
}

.policy-check {
  position: relative;

  margin-right: 11px;
  margin-bottom: 30px;

  font-weight: $font-weight-normal;
  font-size: $font-size-form;
  line-height: $line-height-secondary;
  letter-spacing: 0.03em;

  color: $txt-second-color;
}

.policy-label {
  display: flex;
}

.policy-label__link {
  font-weight: $font-weight-normal;
  font-size: $font-size-form;
  line-height: $line-height-secondary;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: $accent-color;
}

.check {
  padding-left: 22px;
}

.check__box::before {
  position: absolute;
  top: -1px;

  content: '';

  margin-left: -22px;
  width: 16px;
  height: 15px;

  border: 2px solid $txt-main-color;
  border-radius: 2px;
  background-color: $modal-bg-color;
}

.check__input:checked + .check__box::before {
  background-color: $accent-color;
  background-image: url(../images/check.svg);
  background-position: 50% 50%;
  border: transparent;
}

.modal-button {
  width: 200px;
  height: 50px;

  font-weight: $font-weight-normal;
  font-size: $font-size-secondary;
  line-height: $line-height-button;
  text-align: center;
  letter-spacing: 0.06em;

  color: $txt-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
}
