.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__tittle {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: $font-weight-bold;
  font-size: 28px;
  line-height: $line-height-secondary;
  text-align: center;
  letter-spacing: 0.03em;
  color: $txt-main-color;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    flex-basis: calc(100% / 2 - 15px);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }
  }

  @media screen and (max-width: 767px) {
    &__item:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &__item:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;

    &__item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}

.clients-list__link {
  // width: 210px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: 1px solid $clients-logo-border-color;
  border-radius: 4px;
  fill: $social-link-color;

  transition: border-color $time-transition $function-bezire,
    fill $time-transition $function-bezire;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
