.hero {
  text-align: center;
  background-color: $secondary-bg-color;
}

.hero__img {
  min-width: 320px;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__text {
  width: 360px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__tittle {
  margin: 0;
  margin-bottom: 30px;

  font-weight: $font-weight-black;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $txt-white-color;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  width: 200px;
  height: 50px;

  font-size: $font-size-secondary;
  line-height: $line-height-button;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $txt-white-color;

  &:hover,
  &:focus {
    background-color: $button-bg-color;
    color: $txt-main-color;
    border: 1px solid $accent-color;
  }
}
