.examples {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.examples-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examples-cards__card {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    flex-basis: calc(100% / 2 - 15px);
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;

    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;

    background-color: $primary-bg-color;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.examples-cards__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.examples-thumb {
  position: relative;

  overflow: hidden;
}

.examples-thumb__image {
  width: 100%;
}

.card-overlay {
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 101%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform $time-transition $function-bezire;
}

.examples-cards__card .examples-cards__link:hover .card-overlay,
.examples-cards__card .examples-cards__link:focus .card-overlay {
  transform: translateY(0);
}

.overlay-description {
  margin: 0;

  font-weight: $font-weight-normal;
  font-size: $font-size-third;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;

  color: $txt-white-color;
}

.examples-content {
  padding: 20px 24px;
  border-right: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
  border-left: 1px solid $card-border-color;
}

.examples-content__tittle {
  margin: 0;
  margin-bottom: 4px;

  font-weight: $font-weight-bold;
  font-size: $font-size-third;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $txt-main-color;
}

.examples-content__category {
  margin: 0;

  font-size: $font-size-secondary;
  line-height: $line-height-button;

  color: $txt-second-color;
}
