.section-studio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__tittle {
    margin: 0;
    margin-bottom: 10px;

    font-weight: $font-weight-bold;
    font-size: $font-size-basic;
    line-height: $line-height-basic;
    text-transform: uppercase;
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__item {
    box-sizing: border-box;
    max-width: 450px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 354px;

      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      max-width: 270px;
      margin-bottom: 0;
    }
  }
}

.advantages__card {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;

  background-color: $button-bg-color;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.advantages__icon {
  margin-right: auto;
  margin-left: auto;
}

.advantages__tittle {
  margin: 0;
  margin-bottom: 10px;

  font-weight: $font-weight-bold;
  font-size: $font-size-basic;
  line-height: $line-height-basic;

  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__text {
  margin: 0;

  color: $txt-second-color;
  font-size: $font-size-basic;
  line-height: $line-height-third;
}
