$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$txt-main-color: #212121;
$txt-second-color: #757575;
$txt-white-color: #ffffff;
$accent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$button-bg-color: #f5f4fa;
$logo-color: #000000;
$footer-bg-color: #2f303a;
$border-bottom-color: #ececec;
$card-border-color: #eeeeee;
$social-link-color: #afb1b8;
$icon-white-color: #ffffff;
$clients-logo-border-color: #afb1b8;
$modal-bg-color: #ffffff;
$time-transition: 250ms;
$function-bezire: cubic-bezier(0.4, 0, 0.2, 1);
$subscribe-text-border-color: rgba(255, 255, 255, 0.3);

$main-font-family: 'Roboto', sans-serif;
$sec-font-family: 'Raleway', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-form: 12px;
$font-size-basic: 14px;
$font-size-secondary: 16px;
$font-size-third: 18px;
$font-size-modal: 20px;
$font-size-logo: 26px;
$font-size-tittle: 36px;

$line-height-basic: 1.14;
$line-height-secondary: 1.17;
$line-height-third: 1.71;
$line-height-button: 1.87;
$line-height-teammate: 1.19;

$width-mobile-version: 480px;
$width-tablet-version: 768px;
$width-desktop-version: 1200px;
